.table {
  @extend .full-content-x;
  @extend .left-align;

  border: none;
  border-spacing: 0;
}

.table-header-cell, table-body-cell {
  @extend .relative;
  @extend .left-align;
  @extend .align-middle;

  &.selection {
    width: 25px;
    margin: 0;
  }

  &:last-child {
    padding-right: 20px;
  }
}

.table-header-row {
  height: $table-header-height;

  color: $medium-blue;
  font-size: $table-header-font-size;
  @extend .bold;
  line-height: $table-header-line-height;

  background-color: transparent;

  &:first-child {
    padding-left: 20px;
  }
}

.mod-table-cell-first-child {

}

.table-header {
  padding: $table-header-top-bottom-padding $table-cell-left-right-padding;

  @extend .nowrap;

  border-top: $table-border;
  border-bottom: $table-border;
}

.table-sort {
  @extend .relative;

  cursor: pointer;

  &:hover {
    background-color: $light-grey;
  }
}

.table-sort-icon {
  width: 7px;
  height: 12px;
  margin-left: 5px;

  vertical-align: -2px;

  fill: $medium-blue;

  .asc-arrow, .desc-arrow {
    cursor: pointer;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }
  }
}

.table-loading {
  opacity: 0.3;
}

.table-body-row {
  height: $table-row-height;

  font-size: $table-row-font-size;
  line-height: $table-row-line-height;

  &:first-child {
    padding-left: 10px;
  }

  &:hover .table-body-cell {
    background-color: $light-grey;
  }

  &.empty .table-body-cell {
    padding: 25px;

    text-align: center;
  }
}

.mod-table-row-selected {
  background-color: $light-grey;

  &:not(:hover) {
    background-color: $white;
  }
  &:first-child {
    border-left-color: $orange;
  }
}

.mod-table-row-disabled {
  opacity: 0.4;
}

.table-body-cell {
  padding: $table-row-top-bottom-padding $table-cell-left-right-padding;
  margin-left: 15px;

  @extend .left-align;

  border-bottom: $table-border;

  &:first-child {
    border-left: $table-selected-border-width solid transparent;
  }
}

.mod-table-cell-edit {
  color: $medium-blue;

  cursor: pointer;
}

.mod-table-cell-max-width {
  max-width: 300px;
  overflow: hidden;

  text-overflow: ellipsis;
}

.mod-table-row-confirm {
  background-color: rgba($red, 0.1);
  border-color: $red;

  transition: background-color 300ms;
}

.mod-table-row-deleting {
  background-color: rgba($red, 0.1);
}

.table-last-update {
  margin: 10px $header-padding;

  color: rgba($dark-grey, 0.5);
  font-size: 11px;
  @extend .right-align;
}

.table-checkbox {
  margin-left: 10px;
}

.table-checkbox-header {
  @extend .table-checkbox;
  @extend .align-bottom;
}

.table-checkbox-body {
  @extend .table-checkbox;
  @extend .relative;
  @extend .align-text-bottom;

  top: -1px; // Small hack to make it work in all browsers...
}
