table.drag-and-drop-table-view {
  [draggable] {
    user-select: none;

    -webkit-user-drag: element;
  }

  tr th.drag-column {
    width: $table-column-draggable-width;
    padding: 7px 10px;
  }

  tr.drag-over {
    background-color: $table-row-drag-over-color;

    td.drag-feedback {
      background-color: $table-row-drag-over-color;
    }
  }

  .drag-feedback {
    position: relative;
  }

  .handle {
    padding: 0;

    text-align: center;

    cursor: move;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    .icon {
      pointer-events: none;

      fill: $medium-grey;
    }
  }
}
