@include placeholder();

.select, .textarea, .input {
  padding: 3px 6px;

  color: $dark-grey;
  font-family: $base-font-family;
  font-size: $title-font-size;

  border: 1px solid $medium-grey;
  border-radius: 2px;
}

.input, .textarea {
  &:-ms-input-placeholder {
    color: $medium-grey;
    font-family: $base-font-family;
    font-size: inherit;
    text-transform: none;

    transition: color 0.2s ease;
  }
}

.admin-invisible-textbox {
  padding: 4px 6px;
  margin-bottom: 0;

  background: transparent;
  border-width: 0;

  resize: none;
}

.input-group {
  .input {
    height: 30px;
  }
}
