.admin-numeric-spinner.input-group {
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.spinner-input {
  width: 35px;
}

.add-on {
  display: inline-block;
  height: 30px;
  padding: 0;
  margin-left: -5px;

  vertical-align: top;

  background-color: $medium-grey;
  border: 1px solid darken($medium-grey, 10%);
  border-radius: 0 2px 2px 0;

  padding-top: 2px;

  border-left-width: 0;

  user-select: none;
}

.spinner-button {
  padding: 0 6px;

  border-radius: 3px;

  cursor: pointer;

  &:hover {
    background-color: $medium-blue;
  }
}

.spinner-icon {
  display: block;
}
