.vapor-slider.rc-slider {
  .rc-slider-rail {
    height: $rail-height;
    margin-top: $rail-margin-top;

    background-color: $light-grey;
  }

  .rc-slider-track {
    height: $track-height;

    background-color: $dark-blue;
    border-radius: $track-border-radius;
  }

  .rc-slider-dot {
    bottom: initial;

    width: $dot-width;
    height: $dot-height;
    margin-top: $dot-margin-top;
    margin-left: $dot-margin-left;

    background-color: $pure-white;
    box-shadow: $dot-box-shadow;
    border: none;
    border-radius: initial;
  }

  .rc-slider-dot-active {
    height: $dot-active-height;
    margin-top: initial;
  }

  .rc-slider-handle {
    width: $handle-width;
    height: $handle-height;
    margin-top: $handle-margin-top;
    margin-left: $handle-margin-left;

    background: url('../../resources/icons/svg/thumb.svg');
    background-repeat: no-repeat;
    background-size: $handle-background-size;
    box-shadow: $handle-box-shadow;
    border: none;
    border-radius: $handle-border-radius;
  }
}

.vapor-slider-overlay {
  padding: 0;

  &[class*='rc-slider-tooltip-placement-'] {
    .rc-slider-tooltip-arrow {
      display: none;
    }

    .rc-slider-tooltip-inner {
      color: $dark-blue;
      font-size: $small-font-size;
      line-height: $default-line-height;

      background-color: transparent;
      box-shadow: none;
    }
  }
}
