.card-container {
  flex-wrap: wrap;
  justify-content: center;

  display: flex;

  .card-wrapper {
    margin: 15px 15px 15px 15px;

    .config-card-small {
      width: 350px;
    }

    .config-card {
      align-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap;

      display: flex;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;

      background-color: $light-grey;
      border: 1px solid $medium-grey;

      .card-body {
        width: 100%;
        padding: 1.5em 1.5em 0 1.5em;
        margin-bottom: auto;
      }

      .card-footer {
        align-self: flex-end;
        flex-wrap: wrap;
        justify-content: flex-end;

        display: flex;
        width: 100%;
        padding: 24px 40px;
        margin-top: auto;

        .btn {
          width: auto;
          margin: 0;
        }
      }
    }
  }
}
