.content-placeholder {
	border-radius: $border-radius * 2;
	background-color: $light-grey;
}

.content-placeholder-animated {
	animation: content-placeholder-animated 1.5s infinite;
}

// inspired by https://github.com/buildo/react-placeholder/blob/master/src/reactPlaceholder.scss
@keyframes content-placeholder-animated {
	0% {
	  opacity: .6;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  opacity: .6;
	}
  }
