/**
 * Flippable implementation supporint IE 
 * inspiration: https://davidwalsh.name/css-flip
 */

%flipper-side {
  margin: 0;

  background-color: $pure-white;
}

.flippable {
  position: relative;
  z-index: $flippable-z-index;

  perspective: $flippable-perspective;
  transform-style: preserve-3d;
}

.flippable {
  width: 100%;
}

.flipper {
  position: relative;

  transform-style: preserve-3d;

  transition: $flippable-transition-duration;

  &.show-back {
    .flipper-back {
      transform: rotateY(0deg);
    }

    .flipper-front {
      transform: rotateY(-180deg);
    }
  }

  &.show-front {
    .flipper-back {
      transform: rotateY(180deg);
    }

    .flipper-front {
      transform: rotateY(0deg);
    }
  }
}

/* hide back of pane during swap */
.flipper-front, .flipper-back {
  transform-style: preserve-3d;

  backface-visibility: hidden;
  transition: $flippable-transition-duration;

  @extend %flipper-side;
}

.flipper-front {
  z-index: 2;

  transform: rotateY(180deg);
}

.flipper-back {
  position: absolute;
  top: 0;
  left: 0;

  box-shadow: $flippable-shadow;
  transform: rotateY(-180deg);
}
