.material-card {
  background-color: $pure-white;
  box-shadow: $material-card-shadow;
  border-radius: $border-radius;

  .color-bar-border .color-bar-color {
    &:first-child {
        border-bottom-left-radius: $border-radius;
    }
  
    &:last-child {
        border-bottom-right-radius: $border-radius;
    }
  }
}
