.multiselect-input {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid $medium-grey;
  border-radius: $border-radius;

  padding: $drowdown-multiselect-margin;

  width: $dropdown-button-min-width;

  input {
    border: none;
    height: $dropdown-multiselect-option-height;
    width: 100%;
  }

  input:focus {
      outline:none;
  }
}
