.selected-option {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  position: relative;

  height: $chosen-multi-search-choice-height;
  max-width: 100%;
  padding: 0 (2 * $chosen-multi-search-choice-padding + $chosen-clear-icon-size) 0 $chosen-multi-search-choice-padding;
  margin: $chosen-multi-search-choice-margin $chosen-multi-search-choice-margin 0 0;

  color: $medium-blue;
  font-size: 11px;
  line-height: 22px;

  border: 1px solid $medium-grey;
  border-radius: $border-radius;

  background-color: #E6ECF0;

  cursor: default;
}

.selected-option-item {
  flex: 0 1 auto;
  align-self: center;
}

.selected-option-value {
  @extend .selected-option-item;
}

.selected-option-separator {
  @extend .selected-option-item;

  width: 1px;
  height: $chosen-multi-search-choice-height;
  margin-left: $chosen-multi-search-choice-margin;
  background-color: $medium-grey;
}

.remove-option{
  @extend .selected-option-item;

  position: absolute;
  top: calc(50% - #{$chosen-clear-icon-size} / 2);
  right: $chosen-clear-icon-size;

  display: inline-block;
  width: $chosen-clear-icon-size;
  height: $chosen-clear-icon-size;

  @include clear-icon($medium-blue);
}
