.selected-option {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  position: relative;

  height: $chosen-multi-search-choice-height;
  max-width: 100%;
  margin: 0 $chosen-multi-search-choice-margin 0 0;

  color: $medium-blue;
  font-size: 11px;
  line-height: 22px;

  border: 1px solid $medium-grey;
  border-radius: $border-radius;

  background-color: $light-grey;

  cursor: default;
}

.selected-option-item {
  flex: 0 1 auto;
  align-self: center;
}

.selected-option-value {
  @extend .selected-option-item;
  margin-left: $chosen-multi-search-choice-margin;
}

.selected-option-separator {
  @extend .selected-option-item;

  width: 1px;
  height: $chosen-multi-search-choice-height;
  margin-left: $chosen-multi-search-choice-margin;
  background-color: $medium-grey;
}

.remove-option{
  @extend .selected-option-item;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: (2 * $chosen-multi-search-choice-margin);
  transition: all .05s ease-in;
}

.remove-option:hover {
  background-color: #dee4e8;
  cursor: pointer;
}

.remove-option:active {
  background-color: #d4dade;
}
