$toast-width: 400px;
$toast-z-index: 9999;
$toast-margin: 20px;
$toast-padding: 20px;
$toast-text-color: #ffffff;
$toast-title-font-size: 16px;
$toast-description-font-size: 12px;
$toast-description-margin-top: 15px;
$toast-close-size: 16px;

@keyframes toastFadeIn {
  from {
    transform: translate(0, 100%);

    opacity: 0;
  }
  to {
    transform: translate(0, 0);

    opacity: 1;
  }
}

.toast-container {
  position: fixed;
  right: $toast-margin;
  bottom: $toast-margin;
  z-index: $toast-z-index;

  box-sizing: border-box;
  width: $toast-width;

  .toast {
    display: block;
    padding: $toast-padding;
    margin-top: $toast-margin;

    background-color: $green;

    &.mod-warning {
      background-color: $yellow;
    }

    &.mod-error {
      background-color: $red;
    }

    &.mod-hidden {
      display: none;
    }

    &.mod-animated {
      animation: toastFadeIn ease-in 1;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;

      opacity: 0;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .toast-close {
    float: right;

    cursor: pointer;

    svg {
      width: $toast-close-size;
      height: $toast-close-size;
    }
  }

  .toast-title {
    color: $toast-text-color;
    font-size: $toast-title-font-size;
  }

  .toast-description {
    margin-top: $toast-description-margin-top;

    color: $toast-text-color;
    font-size: $toast-description-font-size;
  }
}
