.input-validation-error-details {
  display: none;
}

.input-validation-error, .multiline-input-validation-error {
  .input-label {
    color: $red;
  }
}

.input-validation-error-details {
  align-items: center;

  display: flex;
  padding: 0 10px;

  color: $pure-white;
  font-size: 12px;
  line-height: 16px;

  background-color: $red;
}

.input-validation-error-icon {
  &, .icon {
    width: 12px;
    height: 12px;
  }

  .icon {
    fill: $red;
  }
}

.input-validation-error-message {
  margin-left: 5px;
}

.multiline-input-validation-error .erroneous-input {
  background-color: $pure-white;
}

.generic-form-error {
  display: inline-block;
  margin-bottom: 10px;

  color: $red;
  font-size: 12px;

  &.bottom {
    margin: 10px 0 0 0;
  }
}
