.form-section {
  margin-top: 10px;
}

.form-subsection + .form-subsection {
  margin-top: 10px;
}

.form-section-separator {
  position: relative;

  width: 100%;
  margin: 20px 0 10px;

  text-align: center;
}

.form-section-separator-text {
  display: inline-block;

  color: $medium-grey;
  text-transform: uppercase;

  &:before, &:after {
    position: absolute;
    top: 4px;

    width: 235px;

    content: ' ';

    border-top: solid 1px;
  }

  &:before {
    left: 0;

    border-image: linear-gradient(to left, $medium-grey, white) 1;
  }

  &:after {
    left: 265px;

    border-image: linear-gradient(to right, $medium-grey, white) 1;
  }
}
