.add-filter-popup, .edit-filter-popup, .filter-type-popup {
  position: absolute;
  z-index: 999;

  width: $filter-pop-up-width;
}

.operator-admin-select {
  width: 100%;
}

.operator-dropdown-toggle {
  box-sizing: border-box;
  width: 100%;

  text-align: left;
}

.add-filter-popup.left, .edit-filter-popup.left {
  right: $add-filter-popup-right;
}

.filter-listing {
  margin: 0;
  @include slim-scroll($light-grey, $medium-grey);
}

.filter-popup-section {
  display: inline-block;
  width: 100%;
  padding-left: $filter-choices-section-padding-left;
  margin-top: $filter-choices-section-margin-top;

  color: $medium-blue;
  text-transform: uppercase;
}

.filter-popup-content {
  max-height: 300px;
  overflow: auto;

  @include slim-scroll($light-grey, $medium-grey);
}

.filter-popup-header {
  background-color: $white;
  border-bottom: $default-border;
}

.filter-container {
  width: $filter-box-width-small-screen;
}

.filter-icon {
  right: $icon-offset-small-screen;
}

.filter-box {
  width: $filter-box-width-small-screen;
}

.filter-box-clear {
  right: $icon-offset-small-screen;
}

.event-type {
  width: $filter-event-type-width;
  margin-bottom: $filter-event-type-margin-bottom;
}

.filter:not(.selected-filter) {
  box-sizing: content-box;
  min-height: $filter-not-selected-min-height;
  padding: $filter-padding;
  margin-right: $filter-not-selected-margin-right;
  overflow-x: hidden;

  line-height: $filter-not-selected-line-height;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: $pure-white;

  cursor: pointer;
}

.filter-option:hover, .filter-option.active {
  background-color: $light-grey;
}

.filter-label {
  cursor: default;
}

.filter-type {
  color: $medium-grey;
  font-size: $filter-type-font-size;
}
