.edit-filter-values {
  position: relative;

  overflow: visible;
}

.filter-values-main-section {
  width: 100%;
}

.filter-values-header {
  background-color: $pure-white;
}

.selected-filter {
  height: $selected-filter-height;
  padding-left: $selected-filter-padding-left;

  color: $medium-blue;
  font-size: $default-font-size;
  font-weight: bold;
  line-height: $selected-filter-height;
}

.string-filters {
  padding-top: $string-filter-padding-top;
}

.string-filter-label {
  line-height: $filter-string-filter-label-line-height;
}
