.multi-filter {
  position: relative;
}

.multi-filter-picker {
  position: relative;

  margin-bottom: $multi-filter-picker-margin-bottom;
}

.admin-filterbox {
  border-bottom: $multi-filter-picker-border-bottom;
}

.add-container {
  overflow: auto;

  background-color: rgba($white, 0.4);
}

.multi-add-action {
  padding: $multi-filterpickerbox-add-padding;

  cursor: pointer;
  opacity: 1;
}

.add-action-icon {
  width: $multi-filter-picker-add-icon-width;
  height: $multi-filter-picker-add-icon-width;

  vertical-align: text-bottom;

  fill: $orange;
}

.pre-operator {
  display: inline-block;
  padding: $pre-operator-padding;
  margin: $pre-operator-margin;

  font-family: $base-font-family;
  font-size: $pre-operator-font-size;
  font-weight: bold;
  line-height: $pre-operator-line-height;
}

.filter-where {
  float: left;
  padding: $filter-where-padding;
  margin-right: $filter-where-margin-right;
  margin-bottom: $filter-where-margin-bottom;
  margin-left: $filter-where-margin-left;

  line-height: $filter-where-line-height;

  background-color: $pure-white;
}

.filter-type {
  box-sizing: border-box;
}

.multi-filter-popup {
  margin-bottom: 0;
}

.filter-actions {
  .btn + .btn {
    margin: 0;
  }
}
